<ion-view title="Dashboard">
	<ion-content>

	<div class="card">
		<div class="item item-text-wrap">	
		Minha pelada
		</div>
	</div>
    
	</ion-content>

    <nav mfb-menu position="br" effect="zoomin" label="Cadastrar"
    	resting-icon="ion-plus-round" active-icon="ion-plus-round" toggling-method="click">

  		<a mfb-button ui-sref="app.grupoIncluir" icon="ion-android-people" label="Grupo"></a>
  		<a mfb-button ui-sref="app.peladeiroIncluir" icon="ion-android-person-add" label="Peladeiro"></a>
  		<a mfb-button ui-sref="app.lancamentoIncluir" icon="ion-social-usd" label="Lançamento"></a>
  		<a mfb-button ui-sref="app.peladaIncluir" icon="ion-android-walk" label="Pelada"></a>
  	</nav>

</ion-view>