<ion-header-bar class="bar-positive">
	<button class="button" ui-sref="login">Voltar</button>
	<h1 class="title">EsteticApp</h1>
</ion-header-bar>

<ion-content>

	<form name="cadastrarForm" novalidate="" ng-submit="signUp(cadastrarForm)">
		<div class="list list-inset">
			<label class="item item-input item-stacked-label">
		    	<span class="input-label">Usuário</span>
		    	<input type="text" placeholder="usuario" ng-model="Model.usuario">
		  	</label>
			  <label class="item item-input item-stacked-label">
		    	<span class="input-label">Senha</span>
		    	<input type="password" placeholder="12345" ng-model="Model.senha">
		  	</label>
			<label class="item item-input item-stacked-label">
		    	<span class="input-label">Nome</span>
		    	<input type="text" placeholder="Maria" ng-model="Model.nome">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Sobrenome</span>
		    	<input type="text" placeholder="da Silva" ng-model="Model.sobrenome">
		  	</label>
		  	<label class="item item-input item-stacked-label">
		    	<span class="input-label">Email</span>
		    	<input type="email" placeholder="contato@email.com" ng-model="Model.email">
		  	</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Aniversário</span>
				<div class="">
					<select class="" name="dia" ng-model="Model.diaNascimento">
						<option value="1" selected="selected">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>
					<select class="" name="mes" ng-model="Model.mesNascimento">
				    	<option value="1">Janeiro</option>
				    	<option value="2">Fevereiro</option>
				    	<option value="3">Março</option>
				    	<option value="4">Abril</option>
				    	<option value="5">Maio</option>
				    	<option value="6">Junho</option>
				    	<option value="7">Julho</option>
				    	<option value="8">Agosto</option>
				    	<option value="9">Setembro</option>
				    	<option value="10">Outubro</option>
				    	<option value="11">Novembro</option>
				    	<option value="12">Dezembro</option>
			    </select>
				</div>
			</label>
			<button class="button button-block button-positive" type="submit">
				Cadastrar
			</button>
		</div>
	</form>
</ion-content>