<ion-view title="Cultos">

	<ion-content>

		<div id="search-box" class="bar bar-header item-input-inset">
	        <div class="item-input-wrapper">
          		<i class="icon ion-search placeholder-icon"></i>
	          	<input type="search" placeholder="Buscar" ng-model="queryBuscar" auto-focus>
	          	<i class="clear-search icon ion-android-close" ng-click="limparBuscar()"></i>
	        </div>
      	</div>

	 	<ion-list>
            <ion-item class="item" ng-repeat="culto in cultos | orderBy: 'data'" item="culto" href="#/app/culto/{{item.objectId}}">
                <!--<h2>{{culto.nome}}</h2>-->
                <h2>Nome do culto</h2>
                <p>{{culto.data.iso | date:'MM/dd/yyyy - HH:mm'}}</p>
            </ion-item>
        </ion-list>
    
	</ion-content>

</ion-view>